# Supabase
SUPABASE_URL=
SUPABASE_KEY=

# Flask
FLASK_SECRET_KEY=

# Moneris
MONERIS_ENV=sandbox
MONERIS_ENABLED=false
MONERIS_CLIENT_ID=
MONERIS_CLIENT_SECRET=
MONERIS_MERCHANT_ID=
MONERIS_API_BASE_URL=https://api.sb.moneris.io
MONERIS_API_VERSION=2025-08-14
MONERIS_HOSTED_TOKENIZATION_PROFILE_ID=
MONERIS_HOSTED_TOKENIZATION_URL=https://esqa.moneris.com/HPPtoken/index.php